@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(120deg, #3b82f6, #6366f1);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-login{
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px -5px rgba(0,0, 0, 0.1);
}
.card-login:hover{
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.2);
}
.input-field:focus{
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}